.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.css-1jbbcbn-MuiDataGrid-columnHeaderTitle{
    font-weight: 600!important;
    font-size: 16px!important;
    color: #333!important;
}
.css-30pzqk-MuiDataGrid-root .MuiDataGrid-cell{
    font-size: 15px!important
}

.delete-btn{
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.add-btn{
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
}
.add-btn:hover, .delete-btn:hover{
    background-color: #008CBA;
    color: #fff;
   
}

a{
    text-decoration: none;
}
.btn-m10{
    margin-right: 10px!important;
    
}
.fw-600{
    font-weight:600!important;
}



